@import url("./headerProd.css");
@import url("./cardsProd.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #E06C83;
    --color-secundario: #E7A9B1;
    --color-terciario: #E7C7CC;
    --color-cuarto: #F2EAED;
    --color-quinto: #F5C74B;
    --color-sexto: #EB6170;
}

html {
    scroll-behavior: smooth;

}

body {
    background-color: var(--color-cuarto);
    font-family: 'Montserrat', sans-serif;
    height: 1280px;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style: none;
}

@media (max-width: 500px) {
    body {
        background-color: var(--color-cuarto);
    }

}

.title {

    font-size: 30px;
    margin: 0px;
    color: var(--color-sexto);
    padding: 20px;
    display: flex;
    align-items: first baseline;
    justify-content: flex-start;
    width: 400px;

}

.arrow-top {
    position: fixed;
    right: 50px;
    bottom: 50px;
    background-color: var(--color-quinto);
    color: var(--color-sexto);
    padding: 10px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;


}

.LateralBarra{ 
    display: flex;
    justify-content: flex-start;
    width: 400px;
    margin-left: 25px;
}